<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.hyperion.core">

    <application>
        <provider
            android:authorities="${applicationId}.HyperionInitProvider"
            android:name=".internal.HyperionInitProvider"
            android:exported="false" />
        <service
            android:name=".internal.HyperionService"
            android:exported="false"/>
    </application>

</manifest>