<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.hyperion.core">

    <!--Required for API 28 and above-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <provider
            android:name=".internal.HyperionInitProvider"
            android:authorities="${applicationId}.HyperionInitProvider"
            android:exported="false" />
        <service
            android:name=".internal.HyperionService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
        <activity
            android:name="com.willowtreeapps.hyperion.core.StandaloneActivity"
            android:exported="true" />
    </application>

</manifest>