<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.hyperion.disk">

    <application>
        <provider
            android:name=".DiskFileProvider"
            android:authorities="com.willowtreeapps.hyperion.disk.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/hd_file_paths" />
        </provider>
    </application>

</manifest>