<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.hyperion.recorder">

    <application>
        <activity android:name=".RecordingsActivity"/>
        <provider
            android:name=".RecorderFileProvider"
            android:authorities="${applicationId}.RecorderFileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/hr_file_paths" />
        </provider>
    </application>

</manifest>