<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.hyperion.recorder">

    <!--Required for API 28 and above-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application>
        <activity android:name=".RecordingsActivity"
            android:theme="@style/Theme.AppCompat.Light"/>
        <provider
            android:name=".RecorderFileProvider"
            android:authorities="${applicationId}.RecorderFileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/hr_file_paths" />
        </provider>
        <service
            android:name=".RecorderService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>

</manifest>