<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.hyperion.sqlite">
    <application>
        <activity android:name=".presentation.DatabaseListActivity"
            />
        <activity android:name=".presentation.tables.TablesListActivity"
            />
    </application>
</manifest>
