<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.hyperion.sqlite">
    <application>
        <activity android:name=".presentation.database.DatabaseListActivity" />
        <activity android:name=".presentation.tables.TablesListActivity" />
        <activity android:name=".presentation.records.DbRecordViewerActivity" />
    </application>
</manifest>
