<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.hyperion.sharedpreferences">

    <application>
        <activity
            android:name=".list.SharedPreferencesListActivity"
            android:theme="@style/hsp_SharedPreferencesActivityTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".detail.SharedPreferencesDetailActivity"
            android:theme="@style/hsp_SharedPreferencesActivityTheme"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>