<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.hyperion.crash">

    <application>
        <activity
            android:name=".CrashActivity"
            android:theme="@style/hc_ActivityTheme"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:process=":crash" />
    </application>

</manifest>